*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.grunt
.elasticbeanstalk
.strong-pm
.nyc_output
npm-debug.log
pids
logs
coverage
node_modules
dist
api.zip
